.container {
  background: #000;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 2rem;
  border-radius: 10px;
  width: 330px;
}

.cardImg {
  width: 100%;
  height: 202px;
  background-color: #999;
}

.channelImg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #999;
}

.details {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  gap: 12px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.info {
  font-size: 14px;
  font-weight: 400;
}

.channelname {
  font-size: 14px;
  font-weight: 400;
}
